/*layout*/

body{
   background: linear-gradient(rgba(17, 17, 17, 0.8), rgba(20, 20, 20, 1), url(img/pexels-nothing-ahead-12737416.jpg));
   background-position: center center;
   background-size: cover;
  background-position-y: 0px;
 background-repeat: no-repeat;
}
.container{
    margin: 0 auto;
}

#conteudo{
   display: flex;
   justify-content: center;
}

#conteudo h2{
    margin-bottom: 3px;
    text-align: center;
}

.card{
    margin-top: 25px;
    width: 338px;
    height: 520px;
    background-color: #ecec78;
    border: 1px solid #7a7575;
    border-radius: 25px;
    text-align: center;
}

.card img{
    border-radius: 25px 25px 0px 0px;
}

.card h3{
    margin-top: 15px;
}

.card p{
    text-align: left;
    color: #0d0a0a;
    padding: 10px 30px 50px 30px;
    
}

.card a{
    padding: 10px 100px;
    border: 0;
}



